@import "../bootstrap/less/bootstrap";

.alert-wrapper {
//  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .alert-wrapper-content {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }

  .alert {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    position: relative;

    &.alert-dismissable {
      padding-right: 28px;

      .close {
        position: absolute;
        right: 7px;
        top: 7px;
      }
    }
  }
}
